<!DOCTYPE html>
<html>
    <head>
        <title>Sentiment Analysis</title>
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <form method="POST">
            {{ form.hidden_tag() }} {{ form.text.label }}<br />
            {{ form.text(rows=5, cols=50) }}<br />
            {{ form.submit() }}
        </form>

        {% if sentiment %}
            <p>Positive: {{ sentiment['pos'] * 100 }}%</p>
            <p>Negative: {{ sentiment['neg'] * 100 }}%</p>
            <p>Neutral: {{ sentiment['neu'] * 100 }}%</p>
            <p>Compound: {{ sentiment['compound'] * 100 }}%</p>
            <p>Custom Model Positive: {{ sentiment['custom model positive'] * 100 }}%</p>
        {% endif %}
    </body>
</html>
